ul {
    list-style-type: none;
  }  
  li {
    float: left;
  }
  li a {
    color: black;
    text-align: center;
   padding: 20px;
    text-decoration: none;
  }
.container-fluid{
    background-color: #F8F8F8;
}
html{
    background-color: #F8F8F8;
}
  
  li a:hover {
    background-color: rgb(180, 83, 18);
    text-decoration: none;
    color: rgb(44, 44, 44);
  }
  .navbar{
    background-color: #E36818;
  }
  .img1{
      margin-bottom: 5px;
  }
  .user{
      width: 50px;
  }

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.conteudo{
    margin-top: 25px;
}
h2{
    padding-top: 20px;
    color: #707070;
}
.img3{
    float: left;
}
h5{
    padding: 15px;
    color: #707070;
}
.card-body{
    text-align: center;
}

h6{
    float: left;
    padding-right: 25px;
    padding-top: 10px;
}
.criaruser{
  height: 30px!important;
}
span {
  margin-left: 5px;
  margin-right: 5px;
}






.dropbtn {
    background-color: #E36818;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(180, 83, 18);
  }


  .btn1{
      width: 100px;
      background-color: #ffffff !important;
      color: #E36818 !important;
      border-color: #E36818 !important;
      border-radius: 5px;
      height: 40px;
      border-style: solid;
  }
  .form-inline{
      padding: 20px;
  }
  .overflow-auto{
    height: 200px;
  }

  .imgboss{
    width: 300px;
  }